/* https://github.com/catppuccin/waybar/tree/main/themes */
@import "catppuccin.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @crust;
  color: @text;
}

#workspaces {
  background-color: @surface0;
  border-radius: 8px;
  margin: 0.3em 0.5em;
}

#workspaces button {
  padding: 0.3em 0.5em;
  color: @text;
}

#workspaces button.active {
  color: @green;
}

#language, #cpu, #memory, #temperature, #network, #pulseaudio {
  background-color: @surface0;
  padding: 0.3em 0.9em;
  margin: 0.3em 0em;
}

/* rounded corners on left and right */
#language {
  border-radius: 8px 0 0 8px;
  padding-left: 1.2em;
}
#temperature {
  border-radius: 0 8px 8px 0;
  padding-right: 1.2em;
}

#clock {
  padding: 0 1.2em;
  font-weight: bold;
}

#pulseaudio {
  color: @lavender;
}
#network {
  color: @blue;
}
#cpu {
  color: @sapphire;
}
#memory {
  color: @sky;
}
#temperature {
  color: @teal;
}

#temperature.critical {
  color: @red;
}

#tray {
  margin: 0 0.5em 0 0;
}
